<div class="tablePaging">
  <div class="pagingCounter">
    SHOW
    <input
      class="myInput"
      [defaultValue]="count"
      type="number"
      [(ngModel)]="totalCOunt"
      (ngModelChange)="onSubmitTotal()"
    />
    ENTRIES
  </div>
  Showing
  {{ page * count - (count - 1) }}
  to {{ page * count }} of
  {{ total }}
  entries
  <div class="pagingPages">
    <div (click)="onClickPrev()">Previous</div>
    <button
      [ngClass]="page === it ? 'selected' : ''"
      *ngFor="let it of counter; let k = index"
      (click)="onClickAny(it)"
    >
      {{ it }}
    </button>
    <div (click)="onClickNext()">Next</div>
  </div>
</div>
