<div class="dashBoardBody">
  <div class="dashBoardFrame">
    <!-- past -->

    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <div style="width: 54%">
      <div style="display: flex">
        <div class="graphFrame" style="width: 50%">
          <div class="top">
            <div class="title">Nil Sales</div>
          </div>
          <div class="body" style="height: 14vw">
            <!------------------------------------------------------------------->
            <div class="frameHeader">
              <select (change)="nilSales.onChangeDropDown($event)">
                <option *ngFor="let it of nilSales.dropList">{{ it }}</option>
              </select>
              <div class="subTitle">
                <div class="timerIcon"></div>
                23 05 2023 06:00
              </div>
            </div>
            <!------------------------------------------------------------------->
            <NillSales />
          </div>
        </div>
        <div class="graphFrame" style="width: 50%">
          <div class="top">
            <div class="title">ROMMS Complaint Status</div>
          </div>
          <div class="body" style="height: 14vw">
            <!------------------------------------------------------------------->
            <div class="frameHeader">
              <select (change)="rommsComplaint.onChangeDropDown($event)">
                <option *ngFor="let it of rommsComplaint.dropList">
                  {{ it }}
                </option>
              </select>
              <div class="subTitle">
                <div class="timerIcon"></div>
                23 05 2023 06:00
              </div>
            </div>
            <!------------------------------------------------------------------->
          </div>
        </div>
      </div>
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">
            Sales & Inventory Trend
            <div class="graphIcon"></div>
          </div>
        </div>
        <div class="body" style="height: 14vw">
          <!------------------------------------------------------------------->
          <div class="frameHeader">
            <select (change)="salesInventoryTrend.onChangeDropDown($event)">
              <option *ngFor="let it of salesInventoryTrend.dropList">
                {{ it }}
              </option>
            </select>
            <div style="display: flex">
              <div
                [ngClass]="
                  salesInventoryTrend.selected === it ? 'selected' : ''
                "
                (click)="salesInventoryTrend.onChangeSelected(it)"
                *ngFor="let it of salesInventoryTrend.navList"
              >
                {{ it }}
              </div>
            </div>
          </div>
          <!------------------------------------------------------------------->
        </div>
      </div>
    </div>
    <div class="graphFrame" style="width: 46%">
      <div class="top">
        <div class="title">
          TAR (Trade Account Receivable)
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 32vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <select (change)="tar.onChangeDropDown($event)">
            <option *ngFor="let it of tar.dropList">{{ it }}</option>
          </select>
          <div class="subTitle">
            Zone
            <div class="timerIcon"></div>
            23 05 2023 06:00
          </div>
        </div>
        <!------------------------------------------------------------------->
        <AppTAR [datas]="tar.values" />
      </div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 100%">
      <div class="top">
        <div class="title">
          TT Receipts SAP vs Actual and TT in top T ransit
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 16vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="ttReceiptsSap.selected === it ? 'selectedBtn' : ''"
              (click)="ttReceiptsSap.onChangeSelected(it)"
              *ngFor="let it of ttReceiptsSap.navList"
            >
              {{ it }}
            </div>
          </div>
        </div>
        <!------------------------------------------------------------------->
      </div>
    </div>
  </div>
</div>
