<div class="dashBoardBody">
  <div class="dashBoardFrame">
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <div style="width: 54%">
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">
            Todays Sales & Inventory
            <div class="graphIcon"></div>
          </div>
          <div class="subTitle">
            25000/25000 23
            <div class="timerIcon"></div>
            05 2023 06:00
          </div>
        </div>
        <div class="body" style="height: 14vw">
          <!------------------------------------------------------------------->
          <div class="frameHeader">
            <div style="display: flex">
              <div
                [ngClass]="
                  todaySalesAndInventory.selected === it ? 'selectedBtn' : ''
                "
                (click)="todaySalesAndInventory.onChangeSelected(it)"
                *ngFor="let it of todaySalesAndInventory.navList"
              >
                {{ it }}
              </div>
            </div>
          </div>
          <!------------------------------------------------------------------->
          <TodaySalesGraph [datas]="todaySalesAndInventory.values" />
        </div>
      </div>
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">
            Nozzle Utilisation
            <div class="graphIcon"></div>
          </div>
          <div class="subTitle">
            <div class="timerIcon"></div>
            23 05 2023 06:00
          </div>
        </div>
        <div class="body" style="height: 14vw">
          <NozzleUtilisation [datas]="nozzleUtilisation" />
        </div>
      </div>
    </div>
    <div class="graphFrame" style="width: 23%">
      <div class="top">
        <div class="title">
          Inventory Forecate
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 32vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="inventoryForcate.selected === it ? 'selected' : ''"
              (click)="inventoryForcate.onChangeSelected(it)"
              *ngFor="let it of inventoryForcate.navList"
            >
              {{ it }}
            </div>
          </div>
        </div>
        <div style="padding: 1vw">
          <div
            style="
              display: flex;
              justify-content: space-between;
              font-size: 0.8vw;
            "
          >
            <div>Status</div>
            <div>Tanks</div>
          </div>
        </div>
        <!------------------------------------------------------------------->
      </div>
    </div>
    <div class="graphFrame" style="width: 23%">
      <div class="top">
        <div class="title">
          Top 10 Sales
          <div class="subTitle">
            (Ltr)
            <div class="graphIcon"></div>
          </div>
        </div>
      </div>
      <div class="body" style="height: 32vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="top10Sales.selected === it ? 'selected' : ''"
              (click)="top10Sales.onChangeSelected(it)"
              *ngFor="let it of top10Sales.navList"
            >
              {{ it }}
            </div>
            <select (change)="top10Sales.onChangeDropDown($event)">
              <option *ngFor="let it of top10Sales.dropList">{{ it }}</option>
            </select>
          </div>
        </div>
        <!------------------------------------------------------------------->
        <Top10SalesGraph [values]="top10Sales.values" />
      </div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 27%">
      <div class="top">
        <div class="title">
          Critical Stock
          <div class="subTitle">15% tank capacity</div>
          <div class="graphIcon"></div>
        </div>
        <div class="subTitle">
          <div class="timerIcon"></div>
          23 05 2023 06:00
        </div>
      </div>
      <div class="body" style="height: 18vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="criticalStock.selected === it ? 'selected' : ''"
              (click)="criticalStock.onChangeSelected(it)"
              *ngFor="let it of criticalStock.navList"
            >
              {{ it }}
            </div>
            <select (change)="criticalStock.onChangeDropDown($event)">
              <option *ngFor="let it of criticalStock.dropList">
                {{ it }}
              </option>
            </select>
          </div>
        </div>
        <!------------------------------------------------------------------->
        <PieChart [datas]="criticalStock.values" [width]="'1.8vw'" />
      </div>
    </div>
    <div class="graphFrame" style="width: 27%">
      <div class="top">
        <div class="title">
          Nano Status
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div class="subTitle">
            <div class="timerIcon"></div>
            23 05 2023 06:00
          </div>
        </div>
        <!------------------------------------------------------------------->
        <PieChart [datas]="nanaStatus.values" />
      </div>
    </div>
    <div class="graphFrame" style="width: 23%">
      <div class="top">
        <div class="title">
          Stock Reconsilation
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <select (change)="stockReconsilation.onChangeDropDown($event)">
            <option *ngFor="let it of stockReconsilation.dropList">
              {{ it }}
            </option>
          </select>
          <div class="subTitle">
            <div class="timerIcon"></div>
            23 05 2023 06:00
          </div>
        </div>
        <!------------------------------------------------------------------->
        <PieChart [datas]="stockReconsilation.values" [hrLabel]="true" />
      </div>
    </div>
    <div class="graphFrame" style="width: 23%">
      <div class="top">
        <div class="title">
          Price Change & Exceptions
          <div class="subTitle">RO Count</div>
        </div>
      </div>
      <div class="body" style="height: 18vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <select (change)="priceChangeAndExceptions.onChangeDropDown($event)">
            <option *ngFor="let it of priceChangeAndExceptions.dropList">
              {{ it }}
            </option>
          </select>
          <div class="subTitle">
            <div class="timerIcon"></div>
            23 05 2023 06:00
          </div>
        </div>
        <!------------------------------------------------------------------->
        <PieChart
          [datas]="priceChangeAndExceptions.values"
          [width]="'1.8vw'"
          [hrLabel]="true"
        />
      </div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <div style="width: 54%">
      <div style="display: flex">
        <div class="graphFrame" style="width: 50%">
          <div class="top">
            <div class="title">Nil Sales</div>
          </div>
          <div class="body" style="height: 16vw">
            <!------------------------------------------------------------------->
            <div class="frameHeader">
              <select (change)="nilSales.onChangeDropDown($event)">
                <option *ngFor="let it of nilSales.dropList">{{ it }}</option>
              </select>
              <div class="subTitle">
                <div class="timerIcon"></div>
                23 05 2023 06:00
              </div>
            </div>
            <!------------------------------------------------------------------->
            <NillSales [datas]="nilSales?.values" />
          </div>
        </div>
        <div class="graphFrame" style="width: 50%">
          <div class="top">
            <div class="title">ROMMS Complaint Status</div>
          </div>
          <div class="body" style="height: 16vw">
            <!------------------------------------------------------------------->
            <div class="frameHeader">
              <select (change)="rommsComplaint.onChangeDropDown($event)">
                <option *ngFor="let it of rommsComplaint.dropList">
                  {{ it }}
                </option>
              </select>
              <div class="subTitle">
                <div class="timerIcon"></div>
                23 05 2023 06:00
              </div>
            </div>
            <!------------------------------------------------------------------->
            <NillSales [datas]="rommsComplaint.values" />
          </div>
        </div>
      </div>
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">
            Sales & Inventory Trend
            <div class="graphIcon"></div>
          </div>
        </div>
        <div class="body" style="height: 14vw">
          <!------------------------------------------------------------------->
          <div class="frameHeader">
            <select (change)="salesInventoryTrend.onChangeDropDown($event)">
              <option *ngFor="let it of salesInventoryTrend.dropList">
                {{ it }}
              </option>
            </select>
            <div style="display: flex">
              <div
                [ngClass]="
                  salesInventoryTrend.selected === it ? 'selected' : ''
                "
                (click)="salesInventoryTrend.onChangeSelected(it)"
                *ngFor="let it of salesInventoryTrend.navList"
              >
                {{ it }}
              </div>
            </div>
          </div>
          <!------------------------------------------------------------------->
          <MyLineGraph [datas]="salesInventoryTrend.values" />
        </div>
      </div>
    </div>
    <div class="graphFrame" style="width: 46%">
      <div class="top">
        <div class="title">
          TAR (Trade Account Receivable)
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 34vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <select (change)="tar.onChangeDropDown($event)">
            <option *ngFor="let it of tar.dropList">{{ it }}</option>
          </select>
          <div class="subTitle">
            Zone
            <div class="timerIcon"></div>
            23 05 2023 06:00
          </div>
        </div>
        <!------------------------------------------------------------------->
        <AppTAR [datas]="tar.values" />
      </div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 100%">
      <div class="top">
        <div class="title">
          TT Receipts SAP vs Actual and TT in top T ransit
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 16vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="ttReceiptsSap.selected === it ? 'selectedBtn' : ''"
              (click)="ttReceiptsSap.onChangeSelected(it)"
              *ngFor="let it of ttReceiptsSap.navList"
            >
              {{ it }}
            </div>
          </div>
        </div>
        <!------------------------------------------------------------------->
        <SapVsTransit [datas]="ttReceiptsSap.values" />
      </div>
    </div>
  </div>
</div>
