.header {
  height: 3vw;
  border-bottom: 0.15vw solid #a0b6d281;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5vw;
  font-weight: 500;
  font-size: 1.2vw;
}
.header .grayText {
  color: #3f5067dc;
  font-size: 1vw;
  padding-top: 0.2vw;
  padding-right: 0.5vw;
}
.header .filterBody {
  display: flex;
  align-items: center;
  color: #484848;
  font-size: 1vw;
}
.header .filterBody button,
.header .filterBody select,
.header .filterBody input {
  width: 6vw;
  font-size: 0.8vw;
  padding: 0.15vw 0.5vw;
  margin: 0 0.2vw;
  box-sizing: border-box;
}
/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */
