<div class="header">
  <div style="width: 30%">Dashboard</div>
  <div style="display: flex">
    <div class="grayText">Server Time:</div>
    25 May 2023 15:25
  </div>
  <div class="filterBody">
    Filter&nbsp;
    <select class="myInput">
      <option>All Zone</option>
    </select>
    <select class="myInput">
      <option>All Region</option>
    </select>
    <select class="myInput">
      <option>All Sales Area</option>
    </select>
    <button class="myBtn">Submit</button>
  </div>
</div>
<app-sales-dashboard *ngIf="userType === 'sales'" />
<app-comco-dashboard *ngIf="userType === 'comco'" />
<app-retail-engineer-dashboard *ngIf="userType === 'retailEngineering'" />
