<div [ngStyle]="hrLabel ? {} : { display: 'flex' }">
  <div class="body">
    <div style="text-align: center" *ngIf="highlighted === null">
      <div class="title">{{ datas.title1 }}</div>
      <div>{{ datas.title2 }}</div>
      <div class="subTitle">{{ datas.title3 }}</div>
    </div>
    <div style="text-align: center" *ngIf="highlighted !== null">
      <div class="title">{{ highlighted?.total }}</div>
      <div>{{ highlighted?.title }}</div>
    </div>
    <div
      class="chart"
      *ngFor="let it of values; let k = index"
        [ngStyle]="{ transform: 'rotate(' + k + 'deg)' }"
    >
      <div
        class="chartBall"
        [ngStyle]="{ backgroundColor: it.color, width: width }"
        (mouseenter)="highlighted = it"
        (mouseleave)="highlighted = null"
      ></div>
    </div>
  </div>
  <div class="label" *ngIf="!hrLabel">
    <div class="each" *ngFor="let it of datas?.list">
      {{ it?.title }}
      <div class="colorCode" [ngStyle]="{ backgroundColor: it?.color }"></div>
    </div>
  </div>
  <div class="label2" *ngIf="hrLabel">
    <div class="each" *ngFor="let it of datas?.list">
      {{ it?.title }}
      <div class="colorCode" [ngStyle]="{ backgroundColor: it?.color }"></div>
    </div>
  </div>
</div>
