<div class="loginScreen">
  <div class="bgTitle">Welcome back</div>
  <div class="bgImage"></div>
  <form class="loginForm" (submit)="onLogin($event)">
    <div class="hpLogo"></div>
    <div class="loginText">Login</div>
    <div class="inputLabel">User Name</div>
    <input placeholder="Enter user name" />
    <div class="inputLabel">Password</div>
    <input placeholder="Enter password" type="password" />
    <button class="login" type="submit" placeholder="Enter user name">
      Login
    </button>
    <div class="logo"></div>
  </form>
</div>
