.body {
  padding: 0 1.2vw;
  height: calc(100% - 6vw);
  overflow: auto;
}
.eachGraph {
  background-color: #88898b59;
  height: 2.8vw;
  border-radius: 1.5vw;
  margin-bottom: 3.4vw;
  position: relative;
  display: flex;
}
.colorArea {
  height: 100%;
  border-radius: 1.5vw;
  width: 20vw;
  background-color: aqua;
  font-size: 1vw;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8vw;
  box-sizing: border-box;
  /* overflow: hidden; */
  color: white;
}
.whiteBack {
  min-width: 1.6vw;
  width: 1.6vw;
  height: 1.6vw;
  background-image: url(../../../../../assets/dashboard/back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.body2 {
  background-color: white;
  margin-top: -5vw;
  height: 31vw;
  position: relative;
  z-index: 1;
}
.header {
  display: flex;
  padding: 1vw;
  font-size: 1vw;
}
.back {
  min-width: 1.2vw;
  width: 1.2vw;
  height: 1.2vw;
  background-image: url(../../../../../assets/dashboard/back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 0.5vw;
}
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
.body3 {
  padding: 1vw;
  padding-top: 2vw;
  display: flex;
  position: relative;
  height: 24vw;
}
.verticalTitle {
  font-size: 0.7vw;
  color: #0000007b;
  transform: rotate(90deg);
  height: 1vw;
  position: absolute;
  top: 10vw;
  bottom: 0vw;
  left: 0vw;
}
.graph {
  margin-left: 2vw;
  height: 24vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.vrValue {
  text-align: right;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hrLine {
  margin-left: 0.3vw;
  width: 14vw;
  border-bottom: 0.1vw dashed #8080804d;
}
.bars {
  right: 1.2vw;
  top: 2vw;
  bottom: 0;
  width: 14vw;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.barFrame {
  width: 5vw;
  max-width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.bar {
  width: 1.5vw;
  height: 9.5vw;
  background-color: aqua;
  border-top-left-radius: 0.3vw;
  border-top-right-radius: 0.3vw;
}
.name {
  padding-top: 0.2vw;
  height: 2vw;
  font-size: 0.7vw;
  text-align: center;
  box-sizing: border-box;
}
