<div class="body">
  <div
    style="
      color: #315481;
      font-weight: 500;
      display: flex;
      align-items: flex-end;
      font-size: 1.1vw;
      position: absolute;
      top: -1.5vw;
      left: 1vw;
    "
  >
    Total inventory&nbsp;<b>{{ datas?.totalInventory }}</b>
    <span style="font-size: 0.7vw; color: #bbb; padding: 0.1vw">KL</span>
    &nbsp;Ullage&nbsp;<b>
      {{ datas?.ullage }}
    </b>
    <span style="font-size: 0.7vw; color: #bbb; padding: 0.1vw">KL</span>
    <div
      [ngClass]="'graphIcon ' + datas?.graphUpDown"
      *ngIf="datas?.graphUpAndDown?.length > 0"
    >
      {{ datas?.graphUpAndDown }}
      <span style="color: #999">%</span>
    </div>
  </div>
  <div class="verticalTitle">{{ datas.verticalTitle }}</div>
  <div class="graph">
    <div class="eachRow" *ngFor="let it of datas.verticalValues">
      <div class="vrValue">
        {{ it }}
        <div class="hrLine"></div>
      </div>
    </div>
  </div>
  <div class="bars">
    <div class="barFrame" *ngFor="let it of datas.horizontalValues">
      <div style="display: flex; align-items: flex-end">
        <div
          class="bar"
          *ngFor="let it1 of it?.values"
          [ngStyle]="{
            height: it1.percentage * 0.07 + 'vw',
            backgroundColor: it1.color
          }"
        >
          <div class="graphTest">{{ it1.value }}</div>
        </div>
      </div>
      <div class="name">{{ it.title }}</div>
    </div>
  </div>
</div>
<div class="indicator">
  <div class="indicatorEach" *ngFor="let it of datas?.titles">
    <div
      class="indicatorColor"
      [ngStyle]="{ backgroundColor: it?.color }"
    ></div>
    {{ it.title }}
  </div>
</div>
<!-- <div class="graphTitle"></div> -->
