<div class="ritListPage" *ngIf="page === 'ritListPage'">
  <div class="pageHeader">RIT</div>
  <div class="statusDiv">
    <div
      class="eachStatus"
      [ngClass]="ritSelectedTable === 'Scheduled' ? 'selected' : ''"
      (click)="onChangeRITTable('Scheduled')"
    >
      <div>
        <div style="padding-bottom: 0.3vw">Scheduled</div>
        <div style="font-size: 0.65vw">No of scheduled inspection</div>
      </div>
      <div style="display: flex; align-items: center">
        <span style="font-size: 2vw; color: #603abb">02</span>&nbsp;&nbsp;&nbsp;
        <span style="color: #9a9a9a70">></span>
      </div>
    </div>
    <div
      class="eachStatus"
      [ngClass]="ritSelectedTable === 'Completed' ? 'selected' : ''"
      (click)="onChangeRITTable('Completed')"
    >
      <div>
        <div style="padding-bottom: 0.3vw">Completed</div>
        <div style="font-size: 0.65vw">No of scheduled inspection</div>
      </div>
      <div style="display: flex; align-items: center">
        <span style="font-size: 2vw; color: #088e5c">01</span>&nbsp;&nbsp;&nbsp;
        <span style="color: #9a9a9a70">></span>
      </div>
    </div>
    <div
      class="eachStatus"
      [ngClass]="ritSelectedTable === 'In Progress' ? 'selected' : ''"
      (click)="onChangeRITTable('In Progress')"
    >
      <div>
        <div style="padding-bottom: 0.3vw">In Progress</div>
        <div style="font-size: 0.65vw">No of scheduled inspection</div>
      </div>
      <div style="display: flex; align-items: center">
        <span style="font-size: 2vw; color: #cf8c10">02</span>&nbsp;&nbsp;&nbsp;
        <span style="color: #9a9a9a70">></span>
      </div>
    </div>
    <div
      class="eachStatus"
      [ngClass]="ritSelectedTable === 'Pending' ? 'selected' : ''"
      (click)="onChangeRITTable('Pending')"
    >
      <div>
        <div style="padding-bottom: 0.3vw">Pending</div>
        <div style="font-size: 0.65vw">No of scheduled inspection</div>
      </div>
      <div style="display: flex; align-items: center">
        <span style="font-size: 2vw; color: #2287bf">30</span>&nbsp;&nbsp;&nbsp;
        <span style="color: #9a9a9a70">></span>
      </div>
    </div>
    <div
      class="eachStatus"
      [ngClass]="ritSelectedTable === 'Overdue' ? 'selected' : ''"
      (click)="onChangeRITTable('Overdue')"
    >
      <div>
        <div style="padding-bottom: 0.3vw">Overdue</div>
        <div style="font-size: 0.65vw">No of scheduled inspection</div>
      </div>
      <div style="display: flex; align-items: center">
        <span style="font-size: 2vw; color: #c1243e">01</span>&nbsp;&nbsp;&nbsp;
        <span style="color: #9a9a9a70">></span>
      </div>
    </div>
  </div>
  <div class="filterHeader">
    Completed RO List
    <div class="filterCol">
      <input class="myInput" placeholder="RO name or code" />
      <span>Overdue In</span>
      <input class="myInput" type="date" />
      <button class="myBtn">SUBMIT</button>
    </div>
  </div>
  <div style="padding: 0 1vw">
    <div class="myTable">
      <div class="myTableHeader">
        <div style="width: 20%">DATE</div>
        <div style="width: 10%">RO CODE</div>
        <div style="width: 20%">RO NAME</div>
        <div style="width: 25%">ADDRESS</div>
        <div style="width: 15%">DUE DATE</div>
        <div style="width: 5%"></div>
      </div>
      <div class="myTableBody" style="height: calc(100vh - 28vw)">
        <div
          class="myTableRow"
          style="border: none"
          *ngFor="let it of allRIT?.content"
          (click)="onClickRITRow(it)"
        >
          <div style="width: 20%; color: var(--myColor)">{{ it.date }}</div>
          <div style="width: 10%">{{ it.roCode }}</div>
          <div style="width: 20%">{{ it.roName }}</div>
          <div style="width: 25%">{{ it.address }}</div>
          <div style="width: 15%">{{ it.dueDate }}</div>
          <div style="width: 5%" class="arrowNext"></div>
        </div>
      </div>
    </div>
    <app-table-paging
      [page]="allRIT?.paging?.page"
      [count]="allRIT?.paging?.count"
      [total]="allRIT?.paging?.total"
      [onChange]="onChangePage"
    />
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////// -->
<div class="ritFormPage" *ngIf="page === 'ritFormPage'">
  <div class="pageHeader">
    <div class="backBtn" (click)="page = 'ritListPage'">RIT</div>
  </div>
  <div class="headDetails">
    <div *ngFor="let it of slectedRIT?.details">
      <div style="width: 10vw">{{ it?.title }}</div>
      :
      <div style="padding-left: 0.2vw">{{ it?.value }}</div>
    </div>
  </div>
  <div style="display: flex">
    <div class="categoryArea">
      <!-- ////////////////////////////////////////////////////////// -->
      <div
        class="categoryEach"
        [ngClass]="ritSelectedCategory?.value === it?.value ? 'selected' : ''"
        *ngFor="let it of slectedRIT?.categories"
        (click)="onClickRITCategory(it)"
      >
        <div>
          <div style="font-weight: 500">{{ it?.title }}</div>
          <div style="color: #fcb73f">{{ it?.status }}</div>
        </div>
        <div style="color: #848484">></div>
      </div>
    </div>
    <div
      class="formArea"
      *ngIf="ritSelectedCategory?.value === 'salesAndStock'"
    >
      <!-- ////////////////////////////////////////////////////////// -->
      <!-- ////////////////////////////////////////////////////////// -->
      <!-- ////////////////////////////////////////////////////////// -->
      <div class="formMainTitle">1. Totalizer Reading</div>
      <!-- ////////////////////////////////////////////////////////// -->
      <div class="div1">
        <div class="header">
          <div></div>
          <div style="width: 8%">DU no</div>
          <div style="width: 8%">Nozzle no</div>
          <div style="width: 8%">Product</div>
          <div style="width: 8%">Reading on Previous Visit</div>
          <div style="width: 8%">Reading on Date Of Inspection</div>
          <div style="width: 8%">Meter Completed Rotation</div>
          <div style="width: 8%">No. of Times Meter Rotated</div>
          <div style="width: 8%">Oil Reading 0n previous Visit</div>
          <div style="width: 8%">Oil Reading on Date of Inspection</div>
          <div style="width: 8%">
            Oil Meter QTY
            <span style="color: #c80d00d8"
              >(To be manually calculated & punched)</span
            >span>
          </div>
          <div style="width: 8%">Total Sales as per Reading</div>
          <div style="width: 4%"></div>
        </div>
        <div
          class="row"
          style="padding: 0"
          *ngFor="let it of ritSelectedCategory?.list1; let k = index"
        >
          <div></div>
          <!-- <div style="width: 8%">178H083dKMS</div>
          <div style="width: 8%">MS-1</div>
          <div style="width: 8%">MS</div>
          <div style="width: 8%">15390</div> -->
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <!-- <div style="width: 8%">-</div>
          <div style="width: 8%">-</div> -->
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <!-- <div style="width: 8%">7698</div> -->
          <div style="width: 4%; height: 2.5vw; background: white">
            <div
              class="plusIcon"
              (click)="onClickFN1(k)"
              *ngIf="ritSelectedCategory?.list1?.length === k + 1"
            ></div>
            <div
              class="binIcon"
              (click)="onClickFN1(k)"
              *ngIf="ritSelectedCategory?.list1?.length !== k + 1"
            ></div>
          </div>
        </div>
        <div class="header" style="padding: 0.5vw 0; padding-top: 1.5vw">
          <div></div>
          <div style="width: 12%">DU no</div>
          <div style="width: 12%">Nozzle no</div>
          <div style="width: 12%">Product</div>
          <div style="width: 12%">Reading on Previous Visit</div>
          <div style="width: 45%">&nbsp;</div>
        </div>
        <div
          class="row"
          style="padding: 0"
          *ngFor="let it of ritSelectedCategory?.list2; let k = index"
        >
          <div></div>
          <input class="myInput" style="width: 12%" />
          <input class="myInput" style="width: 12%" />
          <input class="myInput" style="width: 12%" />
          <input class="myInput" style="width: 12%" />
          <div style="width: 45%; height: 2.5vw; background: white">
            <div
              class="plusIcon"
              (click)="onClickFN2(k)"
              *ngIf="ritSelectedCategory?.list2?.length === k + 1"
            ></div>
            <div
              class="binIcon"
              (click)="onClickFN2(k)"
              *ngIf="ritSelectedCategory?.list2?.length !== k + 1"
            ></div>
          </div>
        </div>
      </div>
      <!-- /////////////////////////////////////////////////////////////// -->
      <!-- /////////////////////////////////////////////////////////////// -->
      <!-- /////////////////////////////////////////////////////////////// -->
      <div class="formMainTitle">2. Summary of Sales(prodect wise)</div>
      <!-- /////////////////////////////////////////////////////////////// -->
      <div class="div2">
        <div class="containerEach">
          <div class="titles">
            <div>Product</div>
            <div>Total Sale</div>
          </div>
          <div class="values">
            <div style="color: #e68a11">MS</div>
            <div>21486 ltrs</div>
          </div>
        </div>
        <div style="width: 16vw">
          <div class="titles">
            <div></div>
            <div>Total Sale</div>
          </div>
          <div class="values">
            <div style="color: #4a99ff">MSD</div>
            <div>21486 ltrs</div>
          </div>
        </div>
      </div>
      <!-- /////////////////////////////////////////////////////////////// -->
      <!-- /////////////////////////////////////////////////////////////// -->
      <!-- /////////////////////////////////////////////////////////////// -->
      <div class="formMainTitle">3. Stock in Tank</div>
      <!-- /////////////////////////////////////////////////////////////// -->
      <div class="div1">
        <div class="header">
          <div></div>
          <div style="width: 12%">Tank No.</div>
          <div style="width: 12%">Capacity</div>
          <div style="width: 12%">Previous Quantity</div>
          <div style="width: 12%">Prduct</div>
          <div style="width: 15%">Actual Stock on Inspection Date</div>
          <div style="width: 15%">Dip in CM. on insoection Date</div>
          <div style="width: 4%"></div>
        </div>
        <div
          class="row3"
          style="padding: 0"
          *ngFor="let it of ritSelectedCategory?.list3; let k = index"
        >
          <div></div>
          <!-- <div style="width: 12%">178H083dKMS</div>
          <div style="width: 12%">MS-1</div>
          <div style="width: 12%">MS</div>
          <div style="width: 12%">15390</div> -->
          <input class="myInput" style="width: 12%" />
          <input class="myInput" style="width: 12%" />
          <input class="myInput" style="width: 12%" />
          <input class="myInput" style="width: 12%" />
          <input class="myInput" style="width: 15%" />
          <input class="myInput" style="width: 15%" />
          <div style="width: 4%; height: 2.5vw; background: white">
            <div
              class="plusIcon"
              (click)="onClickFN3(k)"
              *ngIf="ritSelectedCategory?.list3?.length === k + 1"
            ></div>
            <div
              class="binIcon"
              (click)="onClickFN3(k)"
              *ngIf="ritSelectedCategory?.list3?.length !== k + 1"
            ></div>
          </div>
        </div>
        <!-- /////////////////////////////////////////////////////////////// -->
        <div class="header" style="padding: 0.5vw 0; padding-top: 1.5vw">
          <div></div>
          <div style="width: 8%">From Date</div>
          <div style="width: 8%">To Date</div>
          <div style="width: 8%">MS R(in Liters)</div>
          <div style="width: 8%">MS PT(in Liters)</div>
          <div style="width: 8%">HST R(in Liters)</div>
          <div style="width: 8%">HST PT(in Liters)</div>
          <div style="width: 45%">&nbsp;</div>
        </div>
        <div
          class="row1"
          style="padding: 0"
          *ngFor="let it of ritSelectedCategory?.list4; let k = index"
        >
          <div></div>
          <input class="myInput" style="width: 8%" type="date" />
          <input class="myInput" style="width: 8%" type="date" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <input class="myInput" style="width: 8%" />
          <div style="width: 45%; height: 2.5vw; background: white">
            <div
              class="plusIcon"
              (click)="onClickFN4(k)"
              *ngIf="ritSelectedCategory?.list4?.length === k + 1"
            ></div>
            <div
              class="binIcon"
              (click)="onClickFN4(k)"
              *ngIf="ritSelectedCategory?.list4?.length !== k + 1"
            ></div>
          </div>
        </div>
        <div class="row" style="padding: 0">
          <div></div>
          <div style="width: 8%"></div>
          <div style="width: 8%">Total</div>
          <div style="width: 8%">2000</div>
          <div style="width: 8%">28</div>
          <div style="width: 8%">28000</div>
          <div style="width: 8%">202</div>
          <div style="width: 45%; height: 2.5vw; background: white"></div>
        </div>
        <div class="formTitle">Recipt details since last inspection</div>
        <!-- /////////////////////////////////////////////////////////////// -->
        <div class="header" style="padding: 0.5vw 0; padding-top: 1.5vw">
          <div></div>
          <div style="width: 12%">Product</div>
          <div style="width: 12%">Previous Stock in all Tanks</div>
          <div style="width: 12%">Recipt since last inspection</div>
          <div style="width: 12%">Total Stock</div>
          <div style="width: 12%">Total sales as per DIP</div>
          <div style="width: 43%">&nbsp;</div>
        </div>
        <div
          class="row"
          style="padding: 0"
          *ngFor="let it of ritSelectedCategory?.list2; let k = index"
        >
          <div></div>
          <div style="width: 10%">MS</div>
          <div style="width: 10%">4333 ltrs</div>
          <div style="width: 10%">2000</div>
          <div style="width: 10%">2409 ltrs</div>
          <div style="width: 10%">2409 ltrs</div>
          <div style="width: 43%; height: 2.5vw; background: white"></div>
        </div>
        <div class="formTitle">Variation details</div>
        <!-- /////////////////////////////////////////////////////////////// -->
        <div class="header" style="padding: 0.5vw 0; padding-top: 1.5vw">
          <div></div>
          <div style="width: 10%">Product</div>
          <div style="width: 10%">Variation (+/-)</div>
          <div style="width: 10%">% Variation</div>
          <div style="width: 10%">4% of stock</div>
          <div style="width: 10%">Varation within permissible limit</div>
          <div style="width: 43%">&nbsp;</div>
        </div>
        <div
          class="row2"
          style="padding: 0"
          *ngFor="let it of ritSelectedCategory?.list2; let k = index"
        >
          <div></div>
          <div style="width: 10%">MS</div>
          <div style="width: 10%">-16 Ltrs</div>
          <div style="width: 10%">-0.07</div>
          <div style="width: 10%">120</div>
          <div style="width: 10%">Yes</div>
          <div style="width: 43%; height: 2.5vw; background: white"></div>
        </div>
        <!-- /////////////////////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
      </div>
      <div class="flex hrEnd">
        <button class="myBtn bordered">SAVE</button>
        <button class="myBtn" (click)="onClickNextRit()">NEXT</button>
      </div>
    </div>
    <div
      class="formArea"
      *ngIf="ritSelectedCategory?.value === 'performanceReview'"
    >
      <!-- /////////////////////////////////////////////////////////////// -->
      <!-- /////////////////////////////////////////////////////////////// -->
      <!-- /////////////////////////////////////////////////////////////// -->
      <div class="formMainTitle">1. Performance Review (Sales Data in KL)</div>
      <!-- /////////////////////////////////////////////////////////////// -->
      <div class="div1">
        <!-- ////////////////////////////////////////////// -->
        <div class="row5">
          <div style="width: 55%">For the Month</div>
          <div style="width: 45%">Cumulatie Year</div>
        </div>
        <div
          class="flex hrBetween"
          style="font-size: 0.8vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #fdf6ed; padding: 0.3vw; width: 55%"
          >
            <div style="width: 5%">S No</div>
            <div style="width: 20%"></div>
            <div style="width: 20%">Traget</div>
            <div style="width: 20%">Sales In January 2018</div>
            <div style="width: 20%">Sales In January 2018</div>
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #fdf6ed; padding: 0.3vw; width: 42%"
          >
            <div style="width: 30%">Target</div>
            <div style="width: 30%">Sales In April 2018 to January 2018</div>
            <div style="width: 30%">Sales In April 2018 to January 2018</div>
          </div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div
          class="flex hrBetween"
          style="font-size: 0.88vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #ececec; padding: 0.3vw; width: 55%"
          >
            <div style="width: 5%">01</div>
            <div style="width: 20%">MS</div>
            <input class="myInput" style="width: 22%" />
            <input class="myInput" style="width: 22%" />
            <input class="myInput" style="width: 22%" />
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #ececec; padding: 0.3vw; width: 42%"
          >
            <input class="myInput" style="width: 30%" />
            <input class="myInput" style="width: 30%" />
            <input class="myInput" style="width: 30%" />
          </div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div
          class="flex hrBetween"
          style="font-size: 0.88vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #edf6fd; padding: 0.3vw; width: 55%"
          >
            <div style="width: 5%">01</div>
            <div style="width: 20%">HDS</div>
            <input class="myInput" style="width: 22%" />
            <input class="myInput" style="width: 22%" />
            <input class="myInput" style="width: 22%" />
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #edf6fd; padding: 0.3vw; width: 42%"
          >
            <input class="myInput" style="width: 30%" />
            <input class="myInput" style="width: 30%" />
            <input class="myInput" style="width: 30%" />
          </div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div
          class="flex hrBetween"
          style="font-size: 0.88vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #ededed; padding: 0.6vw 0.3vw; width: 55%"
          >
            <div style="width: 5%">03</div>
            <div style="width: 95%">Lubes Up lifted from the compony</div>
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #ededed; padding: 0.3vw; width: 42%"
          ></div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div
          class="flex hrBetween"
          style="font-size: 0.88vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #d9d4e5; padding: 0.6vw 0.3vw; width: 55%"
          >
            <div style="width: 5%"></div>
            <div style="width: 20%">Racer 2</div>
            <input class="myInput" style="width: 22%" [defaultValue]="0" />
            <input class="myInput" style="width: 22%" [defaultValue]="0" />
            <input class="myInput" style="width: 22%" [defaultValue]="0" />
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #d9d4e5; padding: 0.3vw; width: 42%"
          >
            <input class="myInput" style="width: 30%" [defaultValue]="0" />
            <input class="myInput" style="width: 30%" [defaultValue]="0" />
            <input class="myInput" style="width: 30%" [defaultValue]="0" />
          </div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div
          class="flex hrBetween"
          style="font-size: 0.88vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #d9d4e5; padding: 0.6vw 0.3vw; width: 55%"
          >
            <div style="width: 5%"></div>
            <div style="width: 20%">Other AEGO</div>
            <input class="myInput" style="width: 22%" [defaultValue]="0" />
            <input class="myInput" style="width: 22%" [defaultValue]="0" />
            <input class="myInput" style="width: 22%" [defaultValue]="0" />
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #d9d4e5; padding: 0.3vw; width: 42%"
          >
            <input class="myInput" style="width: 30%" [defaultValue]="0" />
            <input class="myInput" style="width: 30%" [defaultValue]="0" />
            <input class="myInput" style="width: 30%" [defaultValue]="0" />
          </div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
        <div
          class="flex hrBetween"
          style="font-size: 0.8vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #d9d4e5; padding: 0.6vw 0.3vw; width: 55%"
          >
            <div style="width: 5%"></div>
            <div style="width: 20%">Total Lubes</div>
            <div style="width: 20%"></div>
            <div style="width: 20%">0.23</div>
            <div style="width: 20%"></div>
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #d9d4e5; padding: 0.3vw; width: 42%"
          >
            <div style="width: 30%"></div>
            <div style="width: 30%">0.49</div>
            <div style="width: 30%">0.97</div>
          </div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
        <div
          class="flex hrBetween"
          style="font-size: 0.8vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #d9d4e5; padding: 0.6vw 0.3vw; width: 55%"
          >
            <div style="width: 5%"></div>
            <div style="width: 20%">Lube Fuel Ratio</div>
            <div style="width: 20%"></div>
            <div style="width: 20%">0.23</div>
            <div style="width: 20%"></div>
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #d9d4e5; padding: 0.3vw; width: 42%"
          >
            <div style="width: 30%"></div>
            <div style="width: 30%">0.49</div>
            <div style="width: 30%">0.97</div>
          </div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <!-- ////////////////////////////////////////////// -->
        <div
          class="flex hrBetween"
          style="font-size: 0.88vw; margin-bottom: 0.2vw"
        >
          <div
            class="flex vrCenter hrBetween"
            style="background: #edf6fd; padding: 0.6vw 0.3vw; width: 55%"
          >
            <div style="width: 5%">04</div>
            <div style="width: 95%">Racer2 MS Raion</div>
          </div>
          <div
            class="flex vrCenter hrBetween"
            style="background: #edf6fd; padding: 0.3vw; width: 42%"
          >
            <div style="width: 30%"></div>
            <div style="width: 30%">0.01</div>
            <div style="width: 30%"></div>
          </div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div class="row4">
          <div></div>
          <div style="width: 70%">Stock Availability Of MS</div>
          <select class="myInput" style="width: 20%">
            <option>Select</option>
          </select>
          <div></div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div class="row4">
          <div></div>
          <div style="width: 70%">Stock Availability Of HSD</div>
          <select class="myInput" style="width: 20%">
            <option>Select</option>
          </select>
          <div></div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div class="row4">
          <div></div>
          <div style="width: 70%">Stock Availability Of Lubricating Oils</div>
          <select class="myInput" style="width: 20%">
            <option>Select</option>
          </select>
          <div></div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div class="row4">
          <div></div>
          <div style="width: 70%">
            Grades package not available (No Grades Package(s) selected)
          </div>
          <div style="width: 20%">Add Grades Packager ></div>
          <div></div>
        </div>
        <!-- ////////////////////////////////////////////// -->
        <div class="row4">
          <div></div>
          <div style="width: 70%">
            R.O. stocking lubes other that those supplied
          </div>
          <select class="myInput" style="width: 20%">
            <option>Select</option>
          </select>
          <div></div>
        </div>
      </div>
      <div class="flex hrEnd">
        <button class="myBtn bordered">SAVE</button>
        <button class="myBtn" (click)="onClickNextRit()">NEXT</button>
      </div>
    </div>
  </div>
</div>
