<div class="header" *ngIf="page === 'home'">
  <div class="backBtn" (click)="backToHome()">User</div>
  <button class="myBtn" (click)="onClickAddUser()">ADD USER</button>
</div>
<div class="header" *ngIf="page === 'rolesList'">
  <div class="backBtn" (click)="page = 'home'">User site mapping</div>
  <div class="filterBody">
    Filter&nbsp;
    <select class="myInput">
      <option>All Zone</option>
    </select>
    <select class="myInput">
      <option>All Region</option>
    </select>
    <select class="myInput">
      <option>All Sales Area</option>
    </select>
    <button class="myBtn">Submit</button>
    <button
      class="myBtn"
      (click)="onClickAssigneRole()"
      style="background-color: #0abb59; border-color: #0abb59"
    >
      Assign Site
    </button>
  </div>
</div>
<div class="header" *ngIf="page === 'userForm'">
  <div class="backBtn" (click)="page = 'home'">
    {{ isEdit ? "Edit" : "Add" }} User
  </div>
</div>
<div class="body">
  <div class="userBody" *ngIf="page === 'home'">
    <div class="myTable">
      <div class="myTableHeader">
        <div style="width: 12%">ROLE ID</div>
        <div style="width: 12%">USER NAME</div>
        <div style="width: 12%">FIRST NAME</div>
        <div style="width: 12%">MIDDLE NAME</div>
        <div style="width: 12%">LAST NAME</div>
        <div style="width: 12%">PHONE NUMBER</div>
        <div style="width: 12%">PASSWORD</div>
        <div style="width: 8%">ACCESS</div>
        <div style="width: 8%">STATUS</div>
        <div style="width: 8%"></div>
      </div>
      <div class="myTableBody" style="height: calc(100vh - 16vw)">
        <div class="myTableRow" *ngFor="let it of allUsers?.data">
          <div style="width: 12%">{{ it.roleId }}</div>
          <div style="width: 12%">{{ it.userName }}</div>
          <div style="width: 12%">{{ it.firstName }}</div>
          <div style="width: 12%">{{ it.middleName }}</div>
          <div style="width: 12%">{{ it.LastName }}</div>
          <div style="width: 12%">{{ it.phoneNumber }}</div>
          <div style="width: 12%">{{ it.password }}</div>
          <div style="width: 8%; display: flex">
            <div [ngClass]="'accesWebAndMob' + (it?.access?.web ? '-on' : '')">
              Web
            </div>
            <div [ngClass]="'accesWebAndMob' + (it?.access?.mob ? '-on' : '')">
              Mob
            </div>
          </div>
          <div style="width: 8%; display: flex; align-items: center">
            <div class="dotActive" *ngIf="it.status === 'Active'"></div>
            <div class="dotBlocked" *ngIf="it.status === 'Blocked'"></div>
            {{ it.status }}
          </div>
          <div style="width: 8%; display: flex">
            <div class="editIcon" (click)="onEditUser(it)"></div>
            <div class="viewIcon" (click)="onViewUser(it)"></div>
          </div>
        </div>
      </div>
    </div>
    <app-table-paging
      [page]="allUsers?.paging?.page"
      [count]="allUsers?.paging?.count"
      [total]="allUsers?.paging?.total"
      [onChange]="onChangeUserPage"
    />
  </div>
  <div class="rolesBody" *ngIf="page === 'rolesList'">
    <div class="myTable">
      <div class="myTableHeader">
        <div style="width: 5%; display: flex; justify-content: center">
          <div
            [ngClass]="allRolesSelected ? 'radioInput_' : 'radioInput'"
            (click)="onClickAllRolesSelect()"
          >
            <div></div>
          </div>
        </div>
        <div style="width: 12%">SITE ID</div>
        <div style="width: 20%">SITE NAME</div>
        <div style="width: 15%">ZONE</div>
        <div style="width: 15%">REGION</div>
        <div style="width: 15%">SALES AREA</div>
      </div>
      <div class="myTableBody" style="height: calc(100vh - 16vw)">
        <div class="myTableRow" *ngFor="let it of allRoles?.data">
          <div style="width: 5%; display: flex; justify-content: center">
            <div
              [ngClass]="it?.selected ? 'radioInput_' : 'radioInput'"
              (click)="it.selected = !it?.selected"
            >
              <div></div>
            </div>
          </div>
          <div style="width: 12%">{{ it.siteId }}</div>
          <div style="width: 20%">{{ it.siteName }}</div>
          <div style="width: 15%">{{ it.zone }}</div>
          <div style="width: 15%">{{ it.region }}</div>
          <div style="width: 15%">{{ it.salesArea }}</div>
        </div>
      </div>
    </div>
    <app-table-paging
      [page]="allRoles?.paging?.page"
      [count]="allRoles?.paging?.count"
      [total]="allRoles?.paging?.total"
      [onChange]="onChangeUserRolePage"
    />
  </div>
  <div *ngIf="page === 'userForm'">
    <div class="userFormBody">
      <div class="userForm">
        <div class="userformEachEl">
          First Name
          <input class="myInput" placeholder="Enter first name here" />
        </div>
        <div class="userformEachEl">
          Middle Name
          <input class="myInput" placeholder="Enter middle name here" />
        </div>
        <div class="userformEachEl">
          Last Name
          <input class="myInput" placeholder="Enter last name here" />
        </div>
        <div class="userformEachEl">
          Role ID

          <select class="myInput">
            <option>Select Role</option>
          </select>
        </div>
        <div class="userformEachEl">
          Mobile number
          <input class="myInput" placeholder="Enter number here" />
        </div>
        <div class="userformEachEl">
          Email
          <input class="myInput" placeholder="Enter your email here" />
        </div>
        <div class="userformEachEl">
          Status
          <select class="myInput">
            <option>Select Status</option>
          </select>
        </div>
        <div class="userformEachEl">
          User name
          <input class="myInput" placeholder="enter user name" />
        </div>
        <div class="userformEachEl">
          Password
          <input class="myInput" placeholder="Enter password" />
        </div>
        <div class="userformEachEl">
          Confirm Password
          <input class="myInput" placeholder="Enter password" />
        </div>
      </div>
    </div>
    <div class="userFormFooter">
      <button class="myBtn delete" *ngIf="isEdit">DELETE</button>
      <div></div>
      <div style="display: flex">
        <button class="myBtn bordered" (click)="onClickCloseForm()">
          CLOSE
        </button>
        <button class="myBtn" (click)="onClickAddForm()">ADD</button>
      </div>
    </div>
    <div class="userFormDetils">
      <div>Created by</div>
      <div>Created on</div>
      <div>Modified by</div>
      <div>Modified on</div>
    </div>
  </div>
</div>
