.header {
  background-color: var(--myColor);
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logoDiv {
  height: 2.8vw;
  margin-left: 1vw;
  padding-left: 3.4vw;
  color: white;
  font-weight: 500;
  font-size: 0.9vw;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../../assets/hp.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .title {
  color: white;
  font-weight: 500;
  font-size: 1.5vw;
}
.header .profileDiv {
  display: flex;
  margin-right: 1vw;
}
.header .welcome {
  font-size: 1vw;
  color: white;
  font-weight: 200;
}
.header .userName {
  font-size: 1vw;
  color: white;
}
.header .profilePic {
  width: 2.8vw;
  height: 2.8vw;
  background-color: wheat;
  border-radius: 50%;
  margin-left: 0.6vw;
  cursor: pointer;
}
.header .profileDrower {
  position: absolute;
  top: 3vw;
  right: 1vw;
  background-color: white;
  box-shadow: 0px 0.1vw 0.2vw #00000029;
  border-radius: 0.2vw;
  padding: 0.5vw;
  color: #000000b3;
  font-size: 0.8vw;
}
.header .profileDrower div {
  padding: 0.4vw;
  text-align: right;
  cursor: pointer;
}
.header .profileDrower div:hover {
  color: #000000e3;
}
.body {
  margin-left: 4vw;
  height: calc(10vh - 4vw);
}
.sidebar {
  position: fixed;
  top: 4vw;
  left: 0;
  bottom: 0;
  width: 4vw;
  background-color: var(--myColor);
  transition: 0.3s;
}
.sidebar:hover {
  width: 13vw;
}
