<div class="header">
  <div class="logoDiv">
    <div>हिंदुस्तान पेट्रोलियम कॉर्पोरेशन लिमिटेड</div>
    <div>Hindustan Petroleum Corporation Limited</div>
  </div>
  <div class="title">Centralized Retail Information System</div>
  <div class="profileDiv">
    <div>
      <div class="welcome">Welcome</div>
      <div class="userName">Jafar Alhusayn</div>
    </div>
    <div class="profilePic" (click)="showProfileDrower = !showProfileDrower">
      <div class="profileDrower" *ngIf="showProfileDrower">
        <div>User Settings</div>
        <div>Change Password</div>
        <div>Logout</div>
      </div>
    </div>
  </div>
</div>
<div class="body"></div>
<div class="sidebar"></div>
