@font-face {
  font-family: FiraSansCondensed;
  src: url(./assets/font/FiraSansCondensed-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: FiraSansCondensed;
  src: url(./assets/font/FiraSansCondensed-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: FiraSansCondensed;
  src: url(./assets/font/FiraSansCondensed-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: FiraSansCondensed;
  src: url(./assets/font/FiraSansCondensed-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: FiraSansCondensed;
  src: url(./assets/font/FiraSansCondensed-Bold.ttf);
  font-weight: bold;
}
body {
  margin: 0px;
  font-family: FiraSansCondensed;
}

:root {
  --myColor: #406ca5;
}
input {
  font-size: 0.88vw;
  font-family: FiraSansCondensed;
}
textarea {
  font-size: 0.88vw;
  font-family: FiraSansCondensed;
}
input::placeholder {
  font-size: 0.88vw;
}
select {
  font-size: 0.88vw;
  font-family: FiraSansCondensed;
}
button {
  border: none;
}
button.myBtn {
  border: none;
  padding: 0.35vw;
  text-align: center;
  border: 0.12vw solid var(--myColor);
  background-color: var(--myColor);
  border-radius: 0.3vw;
  font-size: 1vw;
  color: white;
  width: 9vw;
  cursor: pointer;
  margin: 0 0.5vw;
  font-weight: 500;
}
button.myBtn.delete {
  color: #c52b2b;
  border: 0.12vw solid #c52b2b;
  background-color: white;
  background-image: url(./assets/icDelete.svg);
  background-size: 0.8vw;
  background-position: 0.6vw;
  background-repeat: no-repeat;
}
button.myBtn.bordered {
  color: var(--myColor);
  background-color: white;
}
input.myInput,
select.myInput {
  border: 0.10vw solid #9fa3a99c;
  padding: 0.4vw 0.6vw;
  box-sizing: border-box;
  border-radius: 0.2vw;
}
/* .isLoading {
  position: fixed;
  top: 3.5vw;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  background-size: 5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./assets/ic_loader.gif);
} */
.defaultInput {
  border: 0.1vw solid #8080807d;
  border-radius: 0.3vw;
  padding: 0.4vw 0.5vw;
  box-sizing: border-box;
}
.defaultSelect {
  padding: 0.3vw 0.4vw;
  border: 0.1vw solid #8080807d;
  border-radius: 0.3vw;
  box-sizing: border-box;
}

/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
.myTable {
  background-color: white;
  border-radius: 0.8vw;
  padding: 1vw;
  padding-bottom: 0.2vw;
  box-shadow: 0px 13px 54px #695f9714;
}
.myTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
  font-weight: 500;
  padding: 0.3vw;
  border-bottom: 0.12vw solid #1453d25a;
}
.myTableHeader div {
  padding: 0.2vw;
}
.myTableBody {
  overflow: auto;
}
.myTableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
  padding: 0.3vw;
  border-bottom: 0.12vw solid #1453d234;
}
.myTableRow:nth-child(even) {
  background-color: #deeffc;
}
.myTableRow div {
  padding: 0.2vw;
}
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
