<div class="dashBoardBody">
  <div class="dashBoardFrame">
    <div class="graphFrame">
      <div class="top">
        <div class="title">Site Status</div>
      </div>
      <div class="body" style="height: 14vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader"></div>
        <!------------------------------------------------------------------->
      </div>
    </div>
    <div class="graphFrame">
      <div class="top">
        <div class="title">Tank & Ullage Status</div>
      </div>
      <div class="body" style="height: 14vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="tankAndUllage.selected === it ? 'selected' : ''"
              (click)="tankAndUllage.onChangeSelected(it)"
              *ngFor="let it of tankAndUllage.navList"
            >
              {{ it }}
            </div>
          </div>
        </div>
        <!------------------------------------------------------------------->
      </div>
    </div>
    <div class="graphFrame">
      <div class="top">
        <div class="title">DU & Nozzle Status</div>
      </div>
      <div class="body" style="height: 14vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="duAndNozzzle.selected === it ? 'selected' : ''"
              (click)="duAndNozzzle.onChangeSelected(it)"
              *ngFor="let it of duAndNozzzle.navList"
            >
              {{ it }}
            </div>
            <select (change)="duAndNozzzle.onChangeDropDown($event)">
              <option *ngFor="let it of duAndNozzzle.dropList">{{ it }}</option>
            </select>
          </div>
        </div>
        <!------------------------------------------------------------------->
      </div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">Nozzle & Tank Utilisation</div>
        <div class="subTitle">
          <div class="timerIcon"></div>
          23 06 2022 06:00
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 25%">
      <div class="top">
        <div class="title">
          Nano Status
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 25%">
      <div class="top">
        <div class="title">
          RO Connectivity Status
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Future Date Transactions & Alarms
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 25%">
      <div class="top">
        <div class="title">
          Stock Reconsilation
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 25%">
      <div class="top">
        <div class="title">
          Price Change & Exceptions
          <div class="subTitle">RO Count</div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Interlock parameters
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
        <div class="subTitle">
          <div class="timerIcon"></div>
          23 06 2022 06:00
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Control Record Status
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Nano & Connectivity trend
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Software version update
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 100%">
      <div class="top">
        <div class="title">
          ROMMS Complaint Status
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 16vw">Iam body</div>
    </div>
  </div>
</div>
