<div class="dashBoardBody">
  <div class="dashBoardFrame">
    <div class="graphFrame">
      <div class="top">
        <div class="title">Site Status</div>
      </div>
      <div class="body" style="height: 14vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader"></div>
        <div
          style="
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
          "
        >
          <dashboardWidgets
            [title]="siteStatus.datas[0].title"
            [value]="siteStatus.datas[0].value"
            [icon]="siteStatus.datas[0].icon || ''"
          />
          <dashboardWidgets
            [title]="siteStatus.datas[1].title"
            [value]="siteStatus.datas[1].value"
            [type]="'graph'"
            [percentage]="siteStatus.datas[1]?.percentage || 0"
            [color]="'#56A052'"
          />
          <dashboardWidgets
            [title]="siteStatus.datas[2].title"
            [value]="siteStatus.datas[2].value"
            [type]="'graph'"
            [percentage]="siteStatus.datas[2]?.percentage || 0"
            [color]="'#F55A5A'"
          />
          <dashboardWidgets
            [title]="siteStatus.datas[3].title"
            [value]="siteStatus.datas[3].value"
            [icon]="siteStatus.datas[3].icon || ''"
          />
          <dashboardWidgets
            [title]="siteStatus.datas[4].title"
            [value]="siteStatus.datas[4].value"
            [icon]="siteStatus.datas[4].icon || ''"
          />
          <dashboardWidgets
            [title]="siteStatus.datas[5].title"
            [value]="siteStatus.datas[5].value"
            [icon]="siteStatus.datas[5].icon || ''"
          />
        </div>
        <!------------------------------------------------------------------->
      </div>
    </div>
    <div class="graphFrame">
      <div class="top">
        <div class="title">Tank & Ullage Status</div>
      </div>
      <div class="body" style="height: 14vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="tankAndUllage.selected === it ? 'selected' : ''"
              (click)="tankAndUllage.onChangeSelected(it)"
              *ngFor="let it of tankAndUllage.navList"
            >
              {{ it }}
            </div>
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
          "
        >
          <dashboardWidgets
            [title]="tankAndUllage.datas[0].title"
            [value]="tankAndUllage.datas[0].value"
            [subValue]="tankAndUllage.datas[0].subValue"
            [icon]="tankAndUllage.datas[0].icon || ''"
          />
          <dashboardWidgets
            [title]="tankAndUllage.datas[1].title"
            [value]="tankAndUllage.datas[1].value"
            [subValue]="tankAndUllage.datas[1].subValue"
            [type]="'graph'"
            [percentage]="tankAndUllage.datas[1]?.percentage || 0"
            [color]="'#56A052'"
          />
          <dashboardWidgets
            [title]="tankAndUllage.datas[2].title"
            [value]="tankAndUllage.datas[2].value"
            [subValue]="tankAndUllage.datas[2].subValue"
            [type]="'graph'"
            [percentage]="tankAndUllage.datas[2]?.percentage || 0"
            [color]="'#F55A5A'"
          />
          <dashboardWidgets
            [title]="tankAndUllage.datas[3].title"
            [value]="tankAndUllage.datas[3].value"
            [subValue]="tankAndUllage.datas[3].subValue"
            [icon]="tankAndUllage.datas[3].icon || ''"
          />
          <dashboardWidgets
            [title]="tankAndUllage.datas[4].title"
            [value]="tankAndUllage.datas[4].value"
            [subValue]="tankAndUllage.datas[4].subValue"
            [icon]="tankAndUllage.datas[4].icon || ''"
          />
          <dashboardWidgets
            [title]="tankAndUllage.datas[5].title"
            [value]="tankAndUllage.datas[5].value"
            [subValue]="tankAndUllage.datas[5].subValue"
            [icon]="tankAndUllage.datas[5].icon || ''"
          />
        </div>
        <!------------------------------------------------------------------->
      </div>
    </div>
    <div class="graphFrame">
      <div class="top">
        <div class="title">DU & Nozzle Status</div>
      </div>
      <div class="body" style="height: 14vw">
        <!------------------------------------------------------------------->
        <div class="frameHeader">
          <div style="display: flex">
            <div
              [ngClass]="duAndNozzle.selected === it ? 'selected' : ''"
              (click)="duAndNozzle.onChangeSelected(it)"
              *ngFor="let it of duAndNozzle.navList"
            >
              {{ it }}
            </div>
            <select (change)="duAndNozzle.onChangeDropDown($event)">
              <option *ngFor="let it of duAndNozzle.dropList">{{ it }}</option>
            </select>
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
          "
        >
          <dashboardWidgets
            [width]="'12vw'"
            [title]="duAndNozzle.datas[0].title"
            [value]="duAndNozzle.datas[0].value"
            [subValue]="duAndNozzle.datas[0].subValue"
            [icon]="duAndNozzle.datas[0].icon || ''"
          />
          <dashboardWidgets
            [width]="'12vw'"
            [title]="duAndNozzle.datas[1].title"
            [value]="duAndNozzle.datas[1].value"
            [subValue]="duAndNozzle.datas[1].subValue"
            [icon]="duAndNozzle.datas[1].icon || ''"
          />
          <dashboardWidgets
            [width]="'12vw'"
            [title]="duAndNozzle.datas[2].title"
            [value]="duAndNozzle.datas[2].value"
            [subValue]="duAndNozzle.datas[2].subValue"
            [icon]="duAndNozzle.datas[2].icon || ''"
          />
          <dashboardWidgets
            [width]="'12vw'"
            [title]="duAndNozzle.datas[3].title"
            [value]="duAndNozzle.datas[3].value"
            [subValue]="duAndNozzle.datas[3].subValue"
            [icon]="duAndNozzle.datas[3].icon || ''"
          />
        </div>
        <!------------------------------------------------------------------->
      </div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">Nozzle & Tank Utilisation</div>
        <div class="subTitle">
          <div class="timerIcon"></div>
          23 06 2022 06:00
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 25%">
      <div class="top">
        <div class="title">
          Nano Status
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 25%">
      <div class="top">
        <div class="title">
          RO Connectivity Status
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Future Date Transactions & Alarms
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 25%">
      <div class="top">
        <div class="title">
          Stock Reconsilation
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 25%">
      <div class="top">
        <div class="title">
          Price Change & Exceptions
          <div class="subTitle">RO Count</div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Interlock parameters
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
        <div class="subTitle">
          <div class="timerIcon"></div>
          23 06 2022 06:00
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Control Record Status
          <div class="subTitle">RO Count</div>
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Nano & Connectivity trend
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 50%">
      <div class="top">
        <div class="title">
          Software version update
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 18vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 100%">
      <div class="top">
        <div class="title">
          ROMMS Complaint Status
          <div class="graphIcon"></div>
        </div>
      </div>
      <div class="body" style="height: 16vw">Iam body</div>
    </div>
  </div>
</div>
