<div class="body">
  <div class="verticalTitle">{{ datas.verticalTitle }}</div>
  <div class="graph">
    <div class="eachRow" *ngFor="let it of datas.verticalValues">
      <div class="vrValue">
        <div style="min-width: 2.5vw">{{ it }}</div>
        <div class="hrLine"></div>
      </div>
    </div>
  </div>
  <div class="bars">
    <div class="barFrame" *ngFor="let it of datas.horizontalValues">
      <div
        class="bar"
        [ngStyle]="{
          height: it.value * 0.09 + 'vw',
          backgroundColor: it.color
        }"
      ></div>
      <div class="name">{{ it.title }}</div>
    </div>
  </div>
</div>
