<div class="header">
  <div class="logoDiv">
    <div>हिंदुस्तान पेट्रोलियम कॉर्पोरेशन लिमिटेड</div>
    <div>Hindustan Petroleum Corporation Limited</div>
  </div>
  <div class="title">Centralized Retail Information System</div>
  <div class="profileDiv">
    <div>
      <div class="welcome">Welcome</div>
      <div class="userName">Jafar Alhusayn</div>
    </div>
    <div class="profilePic" (click)="showProfileDrower = !showProfileDrower">
      <div class="profileDrower" *ngIf="showProfileDrower">
        <div>User Settings</div>
        <div>Change Password</div>
        <div>Logout</div>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <app-dashboard *ngIf="selectedTab === 'dashboard'" />
  <Home-fual-mr *ngIf="selectedTab === 'pumpMR'" />
  <Home-ro-master *ngIf="selectedTab === 'roMaster'" />
  <Home-rit-master *ngIf="selectedTab === 'ritMaster'" />
  <app-settings *ngIf="selectedTab === 'settings'" />
</div>
<div class="sidebar">
  <div
    (click)="selectedTab = it.value"
    [className]="selectedTab === it.value ? 'tab_' : 'tab'"
    *ngFor="let it of dashbordRouts"
  >
    <div
      [className]="'icon ' + it.value + (selectedTab === it.value ? '_' : '')"
    ></div>
    <div [className]="selectedTab === it.value ? 'title_' : 'title'">
      {{ it.title }}
    </div>
  </div>
</div>
