.header {
  background-color: var(--myColor);
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logoDiv {
  height: 2.8vw;
  margin-left: 1vw;
  padding-left: 3.4vw;
  color: white;
  font-weight: 500;
  font-size: 0.9vw;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../../assets/hp.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .title {
  color: white;
  font-weight: 500;
  font-size: 1.5vw;
  width: 30%;
}
.header .profileDiv {
  display: flex;
  margin-right: 1vw;
}
.header .welcome {
  font-size: 1vw;
  color: white;
  font-weight: 200;
}
.header .userName {
  font-size: 1vw;
  color: white;
}
.header .profilePic {
  width: 2.8vw;
  height: 2.8vw;
  background-color: wheat;
  border-radius: 50%;
  margin-left: 0.6vw;
  cursor: pointer;
}
.header .profileDrower {
  position: absolute;
  top: 3vw;
  right: 1vw;
  background-color: white;
  box-shadow: 0px 0.1vw 0.2vw #00000029;
  border-radius: 0.2vw;
  padding: 0.5vw;
  color: #000000b3;
  font-size: 0.8vw;
}
.header .profileDrower div {
  padding: 0.4vw;
  text-align: right;
  cursor: pointer;
}
.header .profileDrower div:hover {
  color: #000000e3;
}
.body {
  margin-left: 4vw;
  height: calc(10vh - 4vw);
}
.sidebar {
  position: fixed;
  top: 4vw;
  left: 0;
  bottom: 0;
  width: 4vw;
  background-color: var(--myColor);
  transition: 0.3s;
  overflow: hidden;
  padding-top: 2vw;
}
.sidebar:hover {
  width: 13vw;
}
.sidebar .tab,
.sidebar .tab_ {
  display: flex;
  align-items: center;
  margin-right: 0.5vw;
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
  padding: 0.7vw;
  cursor: pointer;
  border-top-right-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
}
.sidebar .tab_ {
  background-color: #ffffff4e;
}
.sidebar .icon {
  min-width: 2.2vw;
  width: 2.2vw;
  height: 1.3vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar .dashboard {
  background-image: url(../../assets/dashboard/dashboard.svg);
}
.sidebar .dashboard_ {
  background-image: url(../../assets/dashboard/dashboard_.svg);
}
.sidebar .pumpMR {
  background-image: url(../../assets/dashboard/pump.svg);
}
.sidebar .pumpMR_ {
  background-image: url(../../assets/dashboard/pump_.svg);
}
.sidebar .roMaster {
  background-image: url(../../assets/dashboard/roMaster.svg);
}
.sidebar .roMaster_ {
  background-image: url(../../assets/dashboard/roMaster_.svg);
}
.sidebar .inspection {
  background-image: url(../../assets/dashboard/inspection.svg);
}
.sidebar .inspection_ {
  background-image: url(../../assets/dashboard/inspection_.svg);
}
.sidebar .settings {
  background-image: url(../../assets/dashboard/settings.svg);
}
.sidebar .settings_ {
  background-image: url(../../assets/dashboard/settings_.svg);
}
.sidebar .title,
.sidebar .title_ {
  padding-left: 1.1vw;
  font-size: 1.1vw;
  font-weight: 400;
  color: #a0b6d2;
  white-space: nowrap;
}
.sidebar .title_ {
  color: #eff7fd;
  font-weight: 500;
}
