<div class="dashBoardBody">
  <div class="dashBoardFrame">
    <div class="graphFrame">
      <div class="top">
        <div class="title">DU Status</div>
      </div>
      <div class="body" style="height: 10vw">Iam body</div>
    </div>
    <div class="graphFrame">
      <div class="top">
        <div class="title">Tank Status</div>
      </div>
      <div class="body" style="height: 10vw">Iam body</div>
    </div>
    <div class="graphFrame">
      <div class="top">
        <div class="title">Alarm Status</div>
      </div>
      <div class="body" style="height: 10vw">Iam body</div>
    </div>
    <!-- /////////////////////////////////////////////////////////// -->
    <div style="width: 26%">
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">Today's Price</div>
        </div>
        <div class="body" style="height: 16vw">Iam body</div>
      </div>
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">Sales Summery</div>
        </div>
        <div class="body" style="height: 16vw">Iam body</div>
      </div>
    </div>
    <div style="width: 50%">
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">Sales & Inventory</div>
        </div>
        <div class="body" style="height: 16vw">Iam body</div>
      </div>
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">Nozzle Utilisation</div>
        </div>
        <div class="body" style="height: 16vw">Iam body</div>
      </div>
    </div>
    <div class="graphFrame" style="width: 24%">
      <div class="top">
        <div class="title">Nozzle Sales</div>
      </div>
      <div class="body" style="height: 36vw">Iam bod3y</div>
    </div>
    <!-- /////////////////////////////////////////////////////////// -->
    <div class="graphFrame" style="width: 26%">
      <div class="top">
        <div class="title">Stock & Ullage</div>
      </div>
      <div class="body" style="height: 20vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 26%">
      <div class="top">
        <div class="title">MOP Sales</div>
      </div>
      <div class="body" style="height: 20vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 24%">
      <div class="top">
        <div class="title">Stock Reconsilation</div>
      </div>
      <div class="body" style="height: 20vw">Iam body</div>
    </div>
    <div class="graphFrame" style="width: 24%">
      <div class="top">
        <div class="title">Price Change & Exceptions</div>
      </div>
      <div class="body" style="height: 20vw">Iam body</div>
    </div>
    <!-- /////////////////////////////////////////////////////////// -->
    <div style="width: 76%">
      <div style="display: flex">
        <div class="graphFrame" style="width: 68.4%">
          <div class="top">
            <div class="title">Sales / Inventory Trend</div>
          </div>
          <div class="body" style="height: 18vw">Iam body</div>
        </div>
        <div class="graphFrame" style="width: 31.6%">
          <div class="top">
            <div class="title">Indent Status</div>
          </div>
          <div class="body" style="height: 18vw">Iam body</div>
        </div>
      </div>
      <div class="graphFrame" style="width: 100%">
        <div class="top">
          <div class="title">Transaction Bucket</div>
        </div>
        <div class="body" style="height: 16vw">Iam body</div>
      </div>
    </div>
    <div class="graphFrame" style="width: 24%">
      <div class="top">
        <div class="title">Inventory Forecast</div>
      </div>
      <div class="body" style="height: 38vw">Iam body</div>
    </div>
  </div>
</div>
